extends baseEmail

block content
  p Xin chào #{firstName},
  p Hãy click vào link để kích hoạt tài khoản của bạn.
  p #{link}
  p Chào mừng bạn đến với mạng xã hội dành cho người đam mê ẩm thực.
  p Nếu bạn có điều gì cần giúp đỡ, vui lòng liên hệ với chúng tôi qua email.
  br
  p Trịnh Anh Dũng, Trà Quang Hiếu, Đỗ Văn Toàn